*{
	
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Playfair Display', serif;



	position: relative;

}

.contenedor{
	position: relative;
max-width: 1024px;
height: 1366px;
align-items: center;
}

.Menu{

	position: absolute;
width: 244px;
height: 51px;
left: 390px;
top: 771px;
animation: i;
}

.Titulo{
	position: absolute;
width: 700px;
height: 100px;
left: 150px;
top: 463px;
}

.subtitulo{
	position: absolute;
width: 268px;
height: 25px;
left: 378px;
top: 584px;
}

.Circle{
	position: absolute;
width: 293px;
height: 295px;
left: 365px;
top: 649px;
}

.Fork{
	position: absolute;
width: 200px;
height: 194px;
left: 421px;
top: 958.33px;


transform: rotate(-20deg);
}

.Knife{
	position: absolute;
width: 200px;
height: 194px;
left: 400.01px;
top: 958px;

transform: rotate(20deg);
}

.Logo{
	position: absolute;
width: 101px;
height: 92px;
left: 16px;
top: 1255px;
}

.Titulo2
{
	position: absolute;
width: 870px;
height: 135.64px;
left: 8px;
top: 6px;
}

.Postres{
position: absolute;
width: 583px;
height: 77.22px;
left: 65px;
top: 458.13px;


}

.Fuerte{
	position: absolute;
width: 583px;
height: 77.13px;
left: 65px;
top: 198.82px;

}

.Bebidas{
	position: absolute;
width: 583px;
height: 81.21px;
left: 65px;
top: 333.13px;
}

.Sangrias{
	position: absolute;
width: 583px;
height: 73.23px;
left: 65px;
top: 587.12px;
}

.Especiales{
	position: absolute;
width: 583px;
height: 73.23px;
left: 30px;
top: 718.77px;

}

.comida{
	position: absolute;
width: 618px;
height: 341px;
left: 203px;
top: 868px;
}

.Flecha{

	
position: absolute;
width: 90.46px;
height: 58.15px;
left: 98.51px;
top: 1351.35px;
}