*{
	
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Playfair Display', serif;



	position: relative;

}

.contenedor{
	position: relative;
max-width: 1024px;
height: 1366px;
align-items: center;
}

.Descripcion{
	position: absolute;
width: 815px;
height: 446px;
left: 58px;
top: 200px;

}

.Foto{

position: absolute;
width: 1114px;
height: 797.2px;
left: -67px;
top: 808px;
}

.Flecha{

position: absolute;
width: 92.65px;
height: 59.55px;
left: 73.33px;
top: 120.73px;
}